body{
    margin: 30px 50px;
    background: linear-gradient(to bottom left, rgba(239, 245, 245, 0.904) 50%, rgba(209, 109, 126, 0.377) 50%);
    border: 15px dotted white;
    padding: 25px;
}

.titulo2{
    background-color: rgba(241, 148, 179, 0.808);
    padding: 20px;
    font-size: 28px;
    color:white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    text-align: center;
}

nav ul a{
    text-decoration:none;
    color:black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.5px;
    
    
}
ul{
    list-style-type: none;  
    margin-top: 1px;
    background-color: rgba(241, 148, 179, 0.808);
    color: rgb(20, 20, 19);
    font-size: 17px;
    font-family:fantasy; 
    text-align: center;
}

li{
    display: inline;
    padding-left: 14px;
}

li a{
    text-decoration:none;
}

li a:hover{
    background-color: rgba(245, 110, 155, 0.509);
    color:rgb(5, 5, 5);
}
.fondo_transp{
    background-color: rgba(245, 245, 245, 0.537);
}

.grid-container{
    margin: 37px 380px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    
}

.grid-item{
    display: flex;
    height: 210px;
    text-align: center;
}

.grid-item:hover{
    filter: blur(5px);
}

.volver{
    margin-left: 1010px;
    padding: 15px;
    color:black;
    background-color: rgba(241, 148, 179, 0.808);
}
.colum{
    float: left;
    width: 30%;
    padding: 15px;
  }
.colum p{
    display: block;
}
.colum a{
    display: block;
}
.colum img{
    width: 100%;
    border: 10px double white;
    }

footer:after {
    content: "";
    display: table;
    clear: both;
    font-family:Georgia, 'Times New Roman', Times, serif; 
    color: black;
  }


div a{
    text-decoration:none;
    color:black;
}
div a:hover{
background-color: rgba(255, 255, 255, 0.575);
color:rgb(5, 5, 5);
}
.derechos{
    text-align: right;
    color:rgba(0, 0, 0, 0.514)
}